<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"color="light">
<img src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg/revision/latest?cb=20190423175213" alt="">

  <h1>Alex Sander Resende de Deus</h1>
<p>Professor da ETEC Albert Einstein</p>
<a href="mailto:alex.deus2@etec.sp.gov.br">alex.deus2@etec.sp.gov.br</a>



</ion-content>
